#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 35    // 10
#define BASE 0
#define LOWER 1
#define MOUSE_KEYS 2
#define MOUSE_TP 3
#define MOUSE_TP_SET 4

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors/toggle_io.dtsi>
#include <behaviors/on_io.dtsi>
#include <behaviors/off_io.dtsi>
#include <input/processors.dtsi>
#include <behaviors/runtime-sensor-rotate.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <0>;      // 0
    time-to-max-speed-ms = <0>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <400>;
    acceleration-exponent = <1>;
};

/ {
    behaviors {
        ltq: ltq {
            compatible = "zmk,behavior-hold-tap";
            label = "LTQ";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <180>;
        };

        rsr_vol: rsr_vol {
            compatible = "zmk,behavior-runtime-sensor-rotate";
            #sensor-binding-cells = <0>;
            tap-ms = <5>;
            cw-binding = <&kp C_VOL_UP>;
            ccw-binding = <&kp C_VOL_DN>;
        };

        td_lay_1: td_lay_1 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_LAY_1";
            #binding-cells = <0>;
            bindings = <&mo 1>, <&to 1>;

            tapping-term-ms = <180>;
        };

        td_lay_2: td_lay_2 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_LAY_2";
            #binding-cells = <0>;
            bindings = <&mo 2>, <&to 2>;

            tapping-term-ms = <180>;
        };

        mm_nav_U: mm_nav_U {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_NAV_U";
            bindings = <&kp UP_ARROW>, <&kp HOME>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
            keep-mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        mm_nav_D: mm_nav_D {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_NAV_D";
            bindings = <&kp DOWN>, <&kp END>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
            keep-mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        td_nav_L: td_nav_L {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_NAV_L";
            #binding-cells = <0>;
            bindings = <&kp LEFT>, <&kp HOME>;
        };

        td_nav_R: td_nav_R {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_NAV_R";
            #binding-cells = <0>;
            bindings = <&kp RIGHT>, <&kp END>;
        };

        td_home_end: td_home_end {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_HOME_END";
            #binding-cells = <0>;
            bindings = <&kp HOME>, <&kp END>;
        };

        td_del_ins: td_del_ins {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_DEL_INS";
            #binding-cells = <0>;
            bindings = <&kp DEL>, <&kp INS>;
        };
    };

    macros {
        ctrl_home: ctrl_home {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings =
                <&macro_press>,
                <&kp RCTRL &kp HOME>,
                <&macro_release>,
                <&kp RCTRL>;
        };

        ctrl_end: ctrl_end {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings =
                <&macro_press>,
                <&kp RCTRL &kp END>,
                <&macro_release>,
                <&kp RCTRL>;
        };
    };

    combos {
        compatible = "zmk,combos";

        flash {
            bindings = <&bootloader>;
            key-positions = <0 11>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            // TODO: Change diagram to match keymap after finalising the keys for each layer
            // --------------------------------------------------   Layer 0   -------------------------------------------------------------------------
            //                                                             5 Way Button
            // ╭───────┬───────┬───────┬───────┬───────┬───────┬──────┬──────────────────────────────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┬───────╮
            // |  ESC  |   1   |   2   |   3   |   4   |   5   |   6  |          Up                  |   7   |   8   |   9   |   0   |   -   |   =   |     BKSP      |  END  |
            // |   TAB   |   Q   |   W   |   E   |   R   |   T   |        Left  Enter  Right      |   Y   |   U   |   I   |   O   |   P   |   [   |   ]   |     \    |  PGUP |
            // |   CAPL   |   A   |   S   |   D   |   F   |   G   |             Down                 |   H   |   J   |   K   |   L   |   ;   |   '   |    ENTER      |  PGDN |
            // |  SHIFT    |   Z   |   X   |   C   |   V   |   B   |                                     |   N   |   M   |   ,   |   .   |   /   |  SHIFT   |   UP   |  DEL  |
            // | CNTRL |   WIN   |  ALT  |  FNC  |      SPACE      |        L1          LM  CM  RM       |        SPACE        |  ALT  |  FNC  | CTRL |  LFT  |  DN  |  RGT  |
            // ╰───────┴──────────┴──────┴───────┴─────────────────┴─────────────────────────────────────┴─────────────────────┴───────┴───────┴──────┴───────┴──────┴───────╯
            // |                                                          Encoder      Scroll Wheel
            //                                                            Button    |   Buttons

            bindings = <
&kp ESC       &kp N1          &kp N2           &kp N3          &kp N4     &kp N5     &kp N6      &kp N7     &kp N8     &kp N9         &kp N0     &kp MINUS  &kp EQUAL        &kp BSPC   &td_home_end
&kp TAB       &kp Q           &kp W            &kp E           &kp R      &kp T                  &kp Y      &kp U      &kp I          &kp O      &kp P      &kp LBKT         &kp RBKT   &kp BSLH       &kp PAGE_UP
&caps_word    &kp A           &kp S            &kp D           &kp F      &kp G                  &kp H      &kp J      &kp K          &kp L      &kp SEMI   &kp APOS         &kp ENTER  &kp PAGE_DOWN
&kp LSHFT     &kp Z           &kp X            &kp C           &kp V      &kp B                  &kp N      &kp M      &kp COMMA      &kp DOT    &kp FSLH   &kp RIGHT_SHIFT  &mm_nav_U  &td_del_ins
&kp LCTRL     &kp LEFT_GUI    &kp LEFT_ALT     &td_lay_1                  &kp SPACE                         &kp SPACE  &kp RIGHT_ALT  &td_lay_2  &kp RCTRL  &td_nav_L        &mm_nav_D  &td_nav_R
&kp UP_ARROW  &kp LEFT_ARROW  &kp RIGHT_ARROW  &kp DOWN_ARROW  &kp ENTER  &to 1                  &mkp LCLK  &mkp MCLK  &mkp RCLK
            >;

            label = "layer0";
            sensor-bindings = <&rsr_vol>;
        };

        layer_1 {
            // TODO: Change diagram to match keymap after finalising the keys for each layer
            // --------------------------------------------------   Layer 1   -------------------------------------------------------------------------
            //                                                             5 Way Button
            // ╭───────┬───────┬───────┬───────┬───────┬───────┬──────┬──────────────────────────────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┬───────╮
            // |  ESC  |   1   |   2   |   3   |   4   |   5   |   6  |          Up                  |   7   |   8   |   9   |   0   |   -   |   =   |     BKSP      |  END  |
            // |   TAB   |   Q   |   W   |   E   |   R   |   T   |        Left  Enter  Right      |   Y   |   U   |   I   |   O   |   P   |   [   |   ]   |     \    |  PGUP |
            // |   CAPL   |   A   |   S   |   D   |   F   |   G   |             Down                 |   H   |   J   |   K   |   L   |   ;   |   '   |    ENTER      |  PGDN |
            // |  SHIFT    |   Z   |   X   |   C   |   V   |   B   |                                     |   N   |   M   |   ,   |   .   |   /   |  SHIFT   |   UP   |  DEL  |
            // | CNTRL |   WIN   |  ALT  |  FNC  |      SPACE      |        L1          LM  CM  RM       |        SPACE        |  ALT  |  FNC  | CTRL |  LFT  |  DN  |  RGT  |
            // ╰───────┴──────────┴──────┴───────┴─────────────────┴─────────────────────────────────────┴─────────────────────┴───────┴───────┴──────┴───────┴──────┴───────╯
            // |                                                          Encoder      Scroll Wheel
            //                                                            Button    |   Buttons

            bindings = <
&kp GRAVE        &kp F1           &kp F2           &kp F3          &kp F4     &kp F5           &kp F6      &kp F7           &kp F8           &kp F9           &kp F10  &kp F11  &kp F12   &kp PAGE_UP  &kp HOME
&to 0            &trans           &to 2            &to 3           &trans     &trans                       &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &trans   &trans   &trans    &trans       &kp DOWN    &kp END
&trans           &trans           &trans           &trans          &trans     &trans                       &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &trans   &trans   &trans    &kp ENTER    &kp INSERT
&trans           &trans           &trans           &trans          &trans     &trans                       &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &trans   &trans   &trans    &kp UP       &kp DELETE
&rgb_ug RGB_TOG  &rgb_ug RGB_BRI  &rgb_ug RGB_SPI  &mo 0                      &rgb_ug RGB_EFF                               &kp KP_NUMBER_0  &kp KP_DOT       &trans   &trans   &kp LEFT  &kp DOWN     &kp LEFT
&kp UP_ARROW     &kp LEFT_ARROW   &kp RIGHT_ARROW  &kp DOWN_ARROW  &kp ENTER  &to 0                        &mkp LCLK        &mkp MCLK        &mkp RCLK
            >;

            label = "layer1";
            sensor-bindings = <&rsr_vol>;
        };

        layer_2 {
            // TODO: Change diagram to match keymap after finalising the keys for each layer
            // --------------------------------------------------   Layer 2   -------------------------------------------------------------------------
            //                                                             5 Way Button
            // ╭───────┬───────┬───────┬───────┬───────┬───────┬──────┬──────────────────────────────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┬───────╮
            // |  ESC  |   1   |   2   |   3   |   4   |   5   |   6  |          Up                  |   7   |   8   |   9   |   0   |   -   |   =   |     BKSP      |  END  |
            // |   TAB   |   Q   |   W   |   E   |   R   |   T   |        Left  Enter  Right      |   Y   |   U   |   I   |   O   |   P   |   [   |   ]   |     \    |  PGUP |
            // |   CAPL   |   A   |   S   |   D   |   F   |   G   |             Down                 |   H   |   J   |   K   |   L   |   ;   |   '   |    ENTER      |  PGDN |
            // |  SHIFT    |   Z   |   X   |   C   |   V   |   B   |                                     |   N   |   M   |   ,   |   .   |   /   |  SHIFT   |   UP   |  DEL  |
            // | CNTRL |   WIN   |  ALT  |  FNC  |      SPACE      |        L1          LM  CM  RM       |        SPACE        |  ALT  |  FNC  | CTRL |  LFT  |  DN  |  RGT  |
            // ╰───────┴──────────┴──────┴───────┴─────────────────┴─────────────────────────────────────┴─────────────────────┴───────┴───────┴──────┴───────┴──────┴───────╯
            // |                                                          Encoder      Scroll Wheel
            //                                                            Button    |   Buttons

            bindings = <
&kp TILDE                &kp F1                   &kp F2                   &kp F3                   &kp F4                   &kp F5                   &kp F6      &kp F7           &kp F8          &kp F9           &kp F10          &kp F11          &kp F12  &trans          &kp HOME
&to 0                    &to 1                    &trans                   &to 3                    &trans                   &trans                               &out OUT_USB     &out OUT_BLE    &trans           &trans           &trans           &trans   &trans          &trans      &kp END
&kp LC(LA(KP_NUMBER_0))  &kp LC(LA(KP_NUMBER_1))  &kp LC(LA(KP_NUMBER_2))  &kp LC(LA(KP_NUMBER_3))  &kp LC(LA(KP_NUMBER_4))  &kp LC(LA(KP_NUMBER_5))              &rgb_ug RGB_OFF  &rgb_ug RGB_ON  &rgb_ug RGB_EFF  &rgb_ug RGB_EFR  &rgb_ug RGB_SPI  &trans   &trans          &kp INSERT
&kp LC(LA(KP_NUMBER_6))  &kp LC(LA(KP_NUMBER_7))  &kp LC(LA(KP_NUMBER_8))  &kp LC(LA(KP_NUMBER_9))  &trans                   &trans                               &bt BT_SEL 0     &bt BT_SEL 1    &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4     &trans   &trans          &trans
&trans                   &trans                   &trans                   &trans                                            &trans                                                &trans          &trans           &trans           &trans           &trans   &bt BT_CLR_ALL  &bt BT_CLR
&kp UP_ARROW             &kp LEFT_ARROW           &kp RIGHT_ARROW          &kp DOWN_ARROW           &kp ENTER                &to 0                                &mkp LCLK        &mkp MCLK       &mkp RCLK
            >;

            label = "layer2";
            sensor-bindings = <&rsr_vol>;
        };

        layer_3 {
            // TODO: Change diagram to match keymap after finalising the keys for each layer
            // --------------------------------------------------   Layer 3   -------------------------------------------------------------------------
            //                                                             5 Way Button
            // ╭───────┬───────┬───────┬───────┬───────┬───────┬──────┬──────────────────────────────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┬───────╮
            // |  ESC  |   1   |   2   |   3   |   4   |   5   |   6  |          Up                  |   7   |   8   |   9   |   0   |   -   |   =   |     BKSP      |  END  |
            // |   TAB   |   Q   |   W   |   E   |   R   |   T   |        Left  Enter  Right      |   Y   |   U   |   I   |   O   |   P   |   [   |   ]   |     \    |  PGUP |
            // |   CAPL   |   A   |   S   |   D   |   F   |   G   |             Down                 |   H   |   J   |   K   |   L   |   ;   |   '   |    ENTER      |  PGDN |
            // |  SHIFT    |   Z   |   X   |   C   |   V   |   B   |                                     |   N   |   M   |   ,   |   .   |   /   |  SHIFT   |   UP   |  DEL  |
            // | CNTRL |   WIN   |  ALT  |  FNC  |      SPACE      |        L1          LM  CM  RM       |        SPACE        |  ALT  |  FNC  | CTRL |  LFT  |  DN  |  RGT  |
            // ╰───────┴──────────┴──────┴───────┴─────────────────┴─────────────────────────────────────┴─────────────────────┴───────┴───────┴──────┴───────┴──────┴───────╯
            // |                                                          Encoder      Scroll Wheel
            //                                                            Button    |   Buttons

            bindings = <
&trans        &trans          &trans           &trans          &trans     &trans  &trans      &trans     &trans     &trans     &trans  &trans  &trans  &trans  &trans
&to 0         &to 1           &to 2            &trans          &trans     &trans              &trans     &trans     &trans     &trans  &trans  &trans  &trans  &trans  &trans
&trans        &trans          &trans           &trans          &trans     &trans              &trans     &trans     &trans     &trans  &trans  &trans  &trans  &trans
&trans        &trans          &trans           &trans          &trans     &trans              &trans     &trans     &trans     &trans  &trans  &trans  &trans  &trans
&trans        &trans          &trans           &trans                     &trans                         &trans     &trans     &trans  &trans  &trans  &trans  &trans
&kp UP_ARROW  &kp LEFT_ARROW  &kp RIGHT_ARROW  &kp DOWN_ARROW  &kp ENTER  &to 0               &mkp LCLK  &mkp MCLK  &mkp RCLK
            >;

            label = "layer3";
            sensor-bindings = <&rsr_vol>;
        };
    };
};
